<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230057527103-r707p5m9mb1fpradph3vg8d6el8obcf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230057527103-r707p5m9mb1fpradph3vg8d6el8obcf5</string>
	<key>API_KEY</key>
	<string>AIzaSyBs5Jql4hBByZ29I5e-B5FuBwPaexS9buQ</string>
	<key>GCM_SENDER_ID</key>
	<string>230057527103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jovinlidan.toko-baja-sakti-mobile</string>
	<key>PROJECT_ID</key>
	<string>toko-baja-sakti-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>toko-baja-sakti-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230057527103:ios:37b027b8c02ce5d12df58a</string>
</dict>
</plist>